body{


font-size: 1.5em;
padding: 1em;


}
.formula{
    font-size: 1.5em;
    margin: 2em;
    border: 4px solid black;
    border-radius:10% ;
    padding: 0.3em;
    background: grey;
    
}
.contenedor{
    display: grid;
    grid-template-columns: 20px 80%;
    grid-gap: 5%;
}
.contenedor-formula{
    margin: 1.2em;
}
.check{
    width: 20px;
    background:blueviolet;
}
#cargador{
    margin: 1.2em;
}
#flexSwitchCheckDefault{
    margin-right: 1.5em;
}


.form-switch{
    border: 1px solid black;
    padding: 1.2em;
    margin-top: 1.2em;
    background: rgb(224, 211, 211);
}