body{

background: beige;
color:black;
font-size: 1.5em;

}
.formula{
    font-size: 1.5em;
    margin-left: 1.2em;
    border: 3px solid grey;
    padding: 0.3em;
    
}
.contenedor{
    display: grid;
    grid-template-columns: 20px 80%;
    grid-gap: 5%;
}
.check{
    width: 20px;
    background: red;
}